<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application_Store</title>
</head>
<body>
<input type="text" style='margin-left: 20px; width: 160px' id="search"/>
<button class="search" onclick="search()" style="margin-left: 20px; width: 110px">search apps</button>
<button class="films" onclick="getApps()" style="margin-left: 20px; width: 110px">applications</button>
<div class="form">
    <div id="result" style="display: flex; flex-direction: column"></div>
</div>
</body>
</html>